*.exe

cpu-mlk-1-compiler/
cpu-mlk-1-docs/
logs/
Lore/
Plugins/
polsim/
RCON/
server-datapack/
vote-sim/
saforganaf/
WorldSaves/
worlds-import/
cpu-mlk-1-ops.ods

sftp-access/

target/
.vscode/

# as such, we can have a private folder for private usage for each user (like spoilers and shit)
private/
LoreForgeData/loreforge-metadata.json

# gitignore developement
development/*/.gradle
development/*/.idea
development/*/build
development/*/gradle
development/*/run

development/*/node_modules
development/*/.vscode